<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body class="container">
<% include ../partials/navbar.ejs %>

<style>

</style>

<main>
    <div class="jumbotron">
        <h1>My Cart</h1>


    </div>
</main>

<% include ../partials/footer.ejs %>
</body>