<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body class="container">
<% include ../partials/navbar.ejs %>

<style>
    h1, h2 {text-align:center}
        {font-size: 200%}
    p {text-align: center}
         {display: inline-block}
</style>

<main>
    <div class="jumbotron">
        <h1>Welcome to Mizzoni's</h1>
        <p>Mizzoni's Pizza is Ireland's only authentic Italian pizza company.<br>

            Antonio Mizzoni opened the first Mizzoni pizzeria in the mid 1970’s in Dublin, making Mizzoni’s Pizza the oldest pizza company in Ireland.<br>
            Today his grandchildren are still using the same great recipe that Antonio inherited from his grandparents. You just can't buy experience like this.<br>

            We at Mizzoni’s Pizza pride ourselves on the authentic taste of Italy that you get with every bite of our fresh pizza.</p>
    </div>
</main>

<% include ../partials/footer.ejs %>
</body>
